*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.container > input{
    align-self: center;
}

.board-container{
    display: flex;
    justify-content: center;
}

.board{
    outline: 2px solid black;
    display: flex;
    flex-basis: 412.8px;
    align-items: flex-end;
    justify-content: space-around;
    flex-shrink: 0;
    gap:0;
    flex-wrap: wrap;
    width: 412.8px;
    height: 619.8px;
}

.tile{
    /* padding: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 50px;
    border: 1px solid black;
}



img{
    margin: 5px;
}